
@import "/_colors.scss";
body {
    color: $body-text;
    background-color: #fafafa;
}
h1,h2,h3,h4,h5,h6{
    color: $heading-text;
}
h1{
    font-size: 34px;
}

a{
    color: $link-color;
}
.welcome{
    font-size: 24px;
    margin-bottom: 20px;
}
.bg-demo {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    width: 250px;
    height: 250px;
}

footer{
    float: left;
    color: whitesmoke;
  margin-top: 200px;
  padding-top: 30px;
  padding-bottom: 10px;
  /* background-color: rgb(4, 21, 41); */
  background-color: rgb(47, 53, 59);
  text-align: center;
  width: 100%;
}
.card{
    margin-top: 30px;
}

.card.text-white.text-center.p-3{
    background-color: rgb(47, 53, 59);
}

.card .text-center{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card img{
    width: 15rem;
    text-align: center;
}
